{
    "version" : "2017-02-28",
    "operation" : "Scan",
    "limit": $util.defaultIfNull($ctx.args.limit, 1000),
  	"nextToken": $util.toJson($context.args.nextToken),
    "filter" : {
        "expression": "contains (:genres, genre)",
        "expressionValues" : {
            ":genres" : $util.dynamodb.toDynamoDBJson($context.args.genreNames)
        }
    }
}